<div class="container-fluid col-md-12" style="margin-top: 10%; margin-bottom: 13%;">
    <div class="d-flex flex-row justify-content-center">
        <div class="col-md-6" style="margin:30px 0 30px 0  ;">
            <h1>Đổi mật khẩu</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Địa chỉ email chưa được đăng ký!</strong> Vui lòng kiểm tra và thử lại.
            </div>

            <!-- <div class="alert alert-warning" *ngIf="!success">
                <p>Nhập địa chỉ email bạn đã sử dụng để đăng ký.</p>
            </div> -->

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Kiểm tra email của bạn để biết chi tiết về cách đặt lại mật khẩu của bạn.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Nhập địa chỉ email bạn đã sử dụng để đăng ký" formControlName="email">
                    <div *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.required">
                            Email của bạn là bắt buộc.
                        </small>
                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.email">
                            Địa chỉ email của bạn không hợp lệ.
                        </small>
                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.minlength">
                            Email của bạn được yêu cầu phải có ít nhất 5 ký tự.
                        </small>
                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.maxlength">
                            Email của bạn không thể dài hơn 100 ký tự.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary">Gửi</button>
            </form>
        </div>
    </div>
</div>
