<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fa fa-align-justify"></i>
                    <h5 class="card-header-text d-inline-block">Danh sách các ưu đãi giờ làm</h5>
                </div>
                <div class="col-md-6">
                    <div class="pr-lg-4 text-center text-md-right">
                        <button mat-raised-button class=" btn btn-dark btn-sm" [routerLink]="['/bonus', 'new']">Thêm mới ưu đãi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!--            <app-alert></app-alert>-->
            <div class="float-right p-2 row">
                <div>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Tìm kiếm bằng tên" [formControl]="name">
                    </mat-form-field>
                    <button mat-icon-button class="button-search"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <table class="table table-bordered text-center" matSort>
                <thead class="full-width">
                <tr>
                    <th>STT</th>
                    <th>Tên ưu đãi</th>
                    <th>Thời gian đi muộn cho phép</th>
                    <th>Thời gian về sớm cho phép</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
                </thead>
                <tbody *ngIf="sortedData?.length <1">
                <th colspan="7" rowspan="1" class="text-center bg-light text-dark" >
                    <h3>Danh sách ưu đãi giờ làm trống</h3>
                </th>
                </tbody>
                <tbody *ngFor="let item of sortedData; let i = index">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>
                        <textarea style="background-color:#FFF;" disabled rows="2" cols="30"
                                  class="form-control" placeholder="Content..">{{item.name}}</textarea>
                        </td>
                    <td>{{item.inShift}} phút</td>
                    <td>{{item.outShift}} phút</td>
                    <td>
                        <textarea style="background-color:#FFF;" disabled rows="4" cols="50"
                                  class="form-control" placeholder="Content..">{{item.note}}</textarea>
                    </td>
                    <td class="text-center" style="width: 180px">
                        <button mat-raised-button class="btn btn-info" [routerLink]="['/bonus', item.id, 'detail']">Xem</button>
                        <button mat-raised-button class="btn btn-warning" [routerLink]="['/bonus', item.id, 'update']">Sửa</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <mat-paginator [length]="totalRecords" (page)="handlePagination($event)" [pageSizeOptions]="pageSizeOptions"
                           showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize"></mat-paginator>
        </div>
    </div>
</div>

