<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <i class="fa fa-align-justify"></i>
                    <h5 class="card-header-text d-inline-block">Quản lý Phòng ban</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="pageInfo.name" #name = "ngModel" name="name" placeholder="Nhập tên Phòng ban ...">
                            </div>
                            <div class="col-4">
                                <button  class="btn btn-primary" (click)="findCompany()"><i class="fa fa-search"></i>Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                    <table  class="table table-bordered table-responsive-lg" matSort fxFlex>
                        <thead class="full-width">
                        <tr>
                            <th>STT</th>
                            <th>Tên</th>
                            <th >Ngày tạo</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody >
                          <tr *ngFor= "let item of dataSource;let rowIndex = index">
                                <td>{{pageIndex*10 + rowIndex+1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.createddate |date:'dd/MM/yyyy HH:mm'}}</td>
                                <td class="text-center" style="width: 180px">
                                    
                                    <button mat-raised-button class="btn btn-info" [routerLink]="['/department',item.id,'update']">Sửa</button>
                                    <button mat-raised-button class="btn btn-warning" (click) = "delete(item.id)" >Xóa</button>
                                    </td>
                        </tr>
                        </tbody>
                    </table>
                    <mat-paginator [length]="totalRecords" (page)="handlePagination($event)" [pageSizeOptions]="pageSizeOptions"
                           showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize"></mat-paginator>
                    <hr>
                    <div class="row just-content-end">
                        <div class="col-2">
                        <button class="btn btn-block btn-danger" type="button"  (click) = "create()" >
                            <i class="fas fa-user-plus"></i>Tạo mới
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
