<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Chỉnh sửa lịch trình làm việc</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../core/image/schedule.png" width="100%"/>
                    </div>
                    <div class="col-md-9">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"
                              [formGroup]="updateSchedule">
                            <div class="form-group row">
                                <h3 class="col-md-3 col-form-label" for="text-input">Tên lịch trình*:</h3>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"
                                           placeholder="Nhập tên..." formControlName="name"
                                           [class.is-invalid]="updateSchedule.controls.name.invalid && (updateSchedule.controls.name.dirty || updateSchedule.controls.name.touched)">
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.name.errors?.required"> *Tên không được để trống</span>
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.name.errors?.pattern"> *Tên không thể quá dài</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-3 col-form-label" for="select1">Nhân viên*:</h3>
                                <div class="col-md-9">
                                    <ng-select [items]="listEmployee | async" bindValue="id" bindLabel="name"
                                               [addTag]="false"
                                               [multiple]="false" [hideSelected]="true"
                                               formControlName="employeeId"
                                               [loading]="employeeLoading" [typeahead]="employeeSearchTxt"
                                               [class.is-invalid]="updateSchedule.controls.employeeId.invalid && (updateSchedule.controls.employeeId.dirty || updateSchedule.controls.employeeId.touched)"
                                               placeholder="--- Chọn nhân viên ---" >
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.name}}
                                        </ng-template>
                                    </ng-select>
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.employeeId.errors?.required"> *Nhân viên không được để trống</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-3 col-form-label">Ca thứ 2*:</h3>
                                <div class="col-md-9">
                                    <ng-select [items]="listShiftMonday | async" bindValue="id" bindLabel="name"
                                               [addTag]="false"
                                               [multiple]="false" [hideSelected]="true"
                                               formControlName="mondayShiftId"
                                               [loading]="shiftSearchLoadingMonday" [typeahead]="shiftMondaySearchTxt"
                                               [class.is-invalid]="updateSchedule.controls.mondayShiftId.invalid && (updateSchedule.controls.mondayShiftId.dirty || updateSchedule.controls.mondayShiftId.touched)"
                                               placeholder="--- Chọn ca ---" >
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.name}} ({{item?.startTime| date:'HH:mm'}} => {{item?.endTime| date:'HH:mm'}})
                                        </ng-template>
                                    </ng-select>
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.mondayShiftId.errors?.required"> *Ca làm việc không được để trống</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-3 col-form-label">Ca thứ 3*:</h3>
                                <div class="col-md-9">
                                    <ng-select [items]="listShiftTuesday | async" bindValue="id" bindLabel="name"
                                               [addTag]="false"
                                               formControlName="tuesdayShiftId"
                                               [multiple]="false" [hideSelected]="true"
                                               [loading]="shiftSearchLoadingTuesday" [typeahead]="shiftTuesdaySearchTxt"
                                               placeholder="--- Chọn ca ---"
                                               [class.is-invalid]="updateSchedule.controls.tuesdayShiftId.invalid && (updateSchedule.controls.tuesdayShiftId.dirty || updateSchedule.controls.tuesdayShiftId.touched)">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.name}} ({{item?.startTime| date:'HH:mm'}} => {{item?.endTime| date:'HH:mm'}})
                                        </ng-template>
                                    </ng-select>
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.tuesdayShiftId.errors?.required"> *Ca làm việc không được để trống</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <h3 class="col-md-3 col-form-label">Ca thứ 4*:</h3>
                                <div class="col-md-9">
                                    <ng-select formControlName="wednesdayShiftId"
                                               [items]="listShiftWednesday | async" bindValue="id" bindLabel="name"
                                               [addTag]="false"
                                               [multiple]="false" [hideSelected]="true"
                                               [loading]="shiftSearchLoadingWednesday" [typeahead]="shiftWednesdaySearchTxt"
                                               placeholder="--- Chọn ca ---"
                                               [class.is-invalid]="updateSchedule.controls.wednesdayShiftId.invalid && (updateSchedule.controls.wednesdayShiftId.dirty || updateSchedule.controls.wednesdayShiftId.touched)">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.name}} ({{item?.startTime| date:'HH:mm'}} => {{item?.endTime| date:'HH:mm'}})
                                        </ng-template>
                                    </ng-select>
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.wednesdayShiftId.errors?.required"> *Ca làm việc không được để trống</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-3 col-form-label">Ca thứ 5*:</h3>
                                <div class="col-md-9">
                                    <ng-select formControlName="thursdayShiftId"
                                               [items]="listShiftThursday | async" bindValue="id" bindLabel="name"
                                               [addTag]="false"
                                               [multiple]="false" [hideSelected]="true"
                                               [loading]="shiftSearchLoadingThursday" [typeahead]="shiftThursdaySearchTxt"
                                               placeholder="--- Chọn ca ---"
                                               [class.is-invalid]="updateSchedule.controls.thursdayShiftId.invalid && (updateSchedule.controls.thursdayShiftId.dirty || updateSchedule.controls.thursdayShiftId.touched)">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.name}} ({{item?.startTime| date:'HH:mm'}} => {{item?.endTime| date:'HH:mm'}})
                                        </ng-template>
                                    </ng-select>
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.thursdayShiftId.errors?.required"> *Ca làm việc không được để trống</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-3 col-form-label">Ca thứ 6*:</h3>
                                <div class="col-md-9">
                                    <ng-select formControlName="fridayShiftId"
                                               [items]="listShiftFriday | async" bindValue="id" bindLabel="name"
                                               [addTag]="false"
                                               [multiple]="false" [hideSelected]="true"
                                               [loading]="shiftSearchLoadingFriday" [typeahead]="shiftFridaySearchTxt"
                                               placeholder="--- Chọn ca ---"
                                               [class.is-invalid]="updateSchedule.controls.fridayShiftId.invalid && (updateSchedule.controls.fridayShiftId.dirty || updateSchedule.controls.fridayShiftId.touched)">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.name}} ({{item?.startTime| date:'HH:mm'}} => {{item?.endTime| date:'HH:mm'}})
                                        </ng-template>
                                    </ng-select>
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.fridayShiftId.errors?.required"> *Ca làm việc không được để trống</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-3 col-form-label">Ca thứ 7*:</h3>
                                <div class="col-md-9">
                                    <ng-select formControlName="saturdayShiftId"
                                               [items]="listShiftSaturday | async" bindValue="id" bindLabel="name"
                                               [addTag]="false"
                                               [multiple]="false" [hideSelected]="true"
                                               [loading]="shiftSearchLoadingSaturday" [typeahead]="shiftSaturdaySearchTxt"
                                               placeholder="--- Chọn ca ---"
                                               [class.is-invalid]="updateSchedule.controls.saturdayShiftId.invalid && (updateSchedule.controls.saturdayShiftId.dirty || updateSchedule.controls.saturdayShiftId.touched)">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.name}} ({{item?.startTime| date:'HH:mm'}} => {{item?.endTime| date:'HH:mm'}})
                                        </ng-template>
                                    </ng-select>
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.saturdayShiftId.errors?.required"> *Ca làm việc không được để trống</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <h3 class="col-md-3 col-form-label">Ca chủ nhật*:</h3>
                                <div class="col-md-9">
                                    <ng-select formControlName="sundayShiftId"
                                               [items]="listShiftSunday | async" bindValue="id" bindLabel="name"
                                               [addTag]="false"
                                               [multiple]="false" [hideSelected]="true"
                                               [loading]="shiftSearchLoadingSunday" [typeahead]="shiftSundaySearchTxt"
                                               placeholder="--- Chọn ca ---"
                                               [class.is-invalid]="updateSchedule.controls.sundayShiftId.invalid && (updateSchedule.controls.sundayShiftId.dirty || updateSchedule.controls.sundayShiftId.touched)">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item?.name}} ({{item?.startTime| date:'HH:mm'}} => {{item?.endTime| date:'HH:mm'}})
                                        </ng-template>
                                    </ng-select>
                                    <span class="invalid-feedback" *ngIf="updateSchedule.controls.sundayShiftId.errors?.required"> *Ca làm việc không được để trống</span>
                                </div>
                            </div>
                            <button type="reset" class="btn btn-danger">
                                <i class="fa fa-ban"></i> Đặt lại
                            </button>
                            <button type="submit" class="btn btn-success" (click)="update()">
                                <i class="fa fa-dot-circle-o"></i> Lưu lại
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" [routerLink]="['/schedule', 'list']" class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Quay lại</span>
                </button>
            </div>
        </div>

    </div>
</div>
