<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <i class="fa fa-align-justify"></i>
                    <h5 class="card-header-text d-inline-block">Danh sách Ca</h5>
                </div>
                <div class="col-md-6">
                    <div class="pr-lg-4 text-center text-md-right">
                        <button mat-raised-button class=" btn btn-dark btn-sm" [routerLink]="['/shift', 'new']">Thêm mới Ca</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
<!--            <app-alert></app-alert>-->
            <div class="float-right p-2 row">
                <div>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Tìm kiếm bằng tên" [formControl]="name">
                    </mat-form-field>
                    <button mat-icon-button class="button-search"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <table class="table table-bordered table-responsive-lg text-center" matSort>
                <thead class="full-width">
                <tr>
                    <th>STT</th>
                    <th>Tên ca</th>
                    <th>Thời gian bắt đầu</th>
                    <th>Thời gian kết thúc</th>
                    <th>Thời gian vào ca</th>
                    <th>Thời gian tan ca</th>
                    <!--                    <th>Thời gian giải lao</th>-->
                    <th>Cho phép đi muộn</th>
                    <th></th>
                </tr>
                </thead>
                <tbody *ngIf="sortedData?.length <1">
                <th colspan="8" rowspan="1" class="text-center bg-light text-dark" >
                    <h3>Danh sách ca làm việc trống</h3>
                </th>
                </tbody>
                <tbody *ngFor="let item of sortedData; let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{item?.name}}</td>
                    <td>{{item?.startTime| date:'HH:mm'}}</td>
                    <td>{{item?.endTime| date:'HH:mm'}}</td>
                    <td>({{item?.startGoIn| date:'HH:mm'}} - {{item?.endGoIn| date:'HH:mm'}})</td>
                    <td>({{item?.startGoOut| date:'HH:mm'}} - {{item?.endGoOut| date:'HH:mm'}})</td>
                    <!--                    <td>({{item?.startBreakTime| date:'HH:mm'}} - {{item?.endBreakTime| date:'HH:mm'}})</td>-->
                    <td>
                        <h5>
                            <span *ngIf="item.goLateAccept=='1'" class="badge badge-success">
                                ĐƯỢC PHÉP
                            </span>
                            <span *ngIf="item.goLateAccept=='0'" class="badge badge-danger">
                                KHÔNG ĐƯỢC PHÉP
                            </span>
                        </h5>
                    </td>
                    <td class="text-center" style="width: 180px">
                        <button mat-raised-button class="btn btn-info" [routerLink]="['/shift', item.id, 'detail']">Chi tiết</button>
                        <button mat-raised-button class="btn btn-warning" [routerLink]="['/shift', item.id, 'update']">Sửa</button>
                    </td>

                </tr>
                </tbody>
            </table>
            <mat-paginator [length]="totalRecords" (page)="handlePagination($event)" [pageSizeOptions]="pageSizeOptions"
                           showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize"></mat-paginator>
        </div>
    </div>
</div>

