<div class="container-fluid col-md-12" style="margin-top: 10%; margin-bottom: 13%;">
    <div class="d-flex  flex-row justify-content-center">
        <div class="col-md-4">
            <h1>Đổi mật khẩu</h1>
            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>Khóa đặt lại mật khẩu bị thiếu.</strong>
            </div>
            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Chọn một mật khẩu mới</p>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <p>Mật khẩu của bạn không thể được thiết lập lại. Hãy nhớ một yêu cầu mật khẩu chỉ có hiệu lực trong 24 giờ.</p>
            </div>
            <p class="alert alert-success" *ngIf="success">
                <span><strong>Mật khẩu của bạn đã được thiết lập lại.</strong> Xin vui lòng </span>
                <a class="alert-link text-primary" style="text-decoration: underline" [routerLink]="['/login']">đăng nhập</a>.
            </p>
            <div class="alert alert-danger" *ngIf="doNotMatch">
                Mật khẩu và xác nhận của nó không khớp!
            </div>
            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Mật khẩu mới</label>
                        <show-hide-password btnStyle="secondary" [btnOutline]="false">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu mới" formControlName="newPassword">
                        </show-hide-password>
                        <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.required">
                                Mật khẩu của bạn là bắt buộc.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.minlength">
                                Mật khẩu của bạn được yêu cầu phải có ít nhất 6 ký tự.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword').errors.maxlength">
                                Mật khẩu của bạn không thể dài hơn 50 ký tự.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Xác nhận mật khẩu mới</label>
                        <show-hide-password btnStyle="secondary" [btnOutline]="false">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu mới" formControlName="confirmPassword">
                        </show-hide-password>
                        <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.required">
                                Xác nhận mật khẩu của bạn là bắt buộc.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                                Xác nhận mật khẩu của bạn được yêu cầu phải có ít nhất 6 ký tự.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                                Xác nhận mật khẩu của bạn không thể dài hơn 50 ký tự.
                            </small>
                        </div>
                        <small class="form-text text-danger" *ngIf="passwordForm.errors?.invalid && passwordForm.get('confirmPassword').touched">
                            Mật khẩu không khớp.
                        </small>
                    </div>
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Đổi mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
</div>
